/*$color-complementary: #314252;*/
body {
  color: #1e2631;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  margin: 0;
}

figure {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Old Standard TT", serif;
}

@media (min-width: 992px) {
  #offcanvasMenu {
    display: none;
  }
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 23;
}
.header .container {
  background: white;
  border-radius: 200px;
  padding: 0.5em 1em 0.5em 2em;
}
.header .navbar {
  padding: 1em;
}
.header .navbar-brand {
  padding: 0;
}
.header .navbar-brand img {
  width: 140px;
}
.header .navbar-brand + .navbar-nav {
  flex-direction: row;
}
@media (min-width: 992px) {
  .header .navbar-brand + .navbar-nav {
    display: none;
  }
}
.header .navbar-brand + .navbar-nav li {
  display: none;
  margin: 0 0.2em;
}
.header .navbar-brand + .navbar-nav li a {
  background: none;
}
@media (min-width: 450px) {
  .header .navbar-brand + .navbar-nav li:last-child {
    display: block;
  }
}
@media (min-width: 576px) {
  .header .navbar-brand + .navbar-nav li:first-child {
    display: block;
  }
}
@media (min-width: 768px) {
  .header .navbar-brand + .navbar-nav li {
    display: block;
    margin: 0 0.2em;
  }
}
@media (min-width: 992px) {
  .header .navbar-nav {
    align-items: center;
  }
}
.header .navbar-nav .nav-item {
  margin: 0.3em 0;
}
@media (min-width: 992px) {
  .header .navbar-nav .nav-item {
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .header .navbar-nav .nav-item {
    margin: 0 0.3em;
  }
}
.header .navbar-nav .nav-item:last-child a {
  background: #001650;
  color: #f7f7f7;
  padding: 0.7em 1.5em;
}
@media (min-width: 992px) {
  .header .navbar-nav .nav-item:last-child a {
    margin-left: 1em;
    padding: 0.7em 1.2em;
  }
}
@media (min-width: 1200px) {
  .header .navbar-nav .nav-item:last-child a {
    padding: 0.7em 1.5em;
  }
}
.header .navbar-nav .nav-item:last-child a:hover {
  background: #539dfe;
}
.header .navbar-nav .nav-link {
  background: rgba(83, 157, 254, 0.15);
  border-radius: 200px;
  color: #1e2631;
  padding: 0.7em 1.2em;
}
@media (min-width: 992px) {
  .header .navbar-nav .nav-link {
    background: none;
    padding: 0.7em;
  }
}
@media (min-width: 1200px) {
  .header .navbar-nav .nav-link {
    padding: 0.7em 1em;
  }
}
.header .navbar-nav .nav-link:hover {
  background: #539dfe;
}
.header .navbar-toggler {
  background: #539dfe;
  border-radius: 50%;
  border: 0;
  margin-left: 0.3em;
  padding: 0.5em;
}

.hero {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}

.carousel-caption {
  bottom: inherit;
  top: 30%;
  z-index: 1;
}
.carousel-shadow {
  background: url(../img/hero-title-shadow.png);
  background-size: 100% 100%;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel h1 {
  color: #001650;
  font-size: 3.5em;
  line-height: 1em;
  text-transform: uppercase;
}
.carousel p {
  color: #1e2631;
  font-size: 1.2em;
  line-height: 1.2em;
  margin: 0 auto;
  width: 50%;
}

.offcanvas-title {
  color: #001650;
  font-size: 1.5em;
  margin: 0;
  text-transform: uppercase;
}

section + section {
  padding: 4em 0;
}

.services {
  text-align: center;
}
.services article {
  margin: 1em 0;
}
.services article a {
  text-decoration: none;
}
.services article .img {
  border-radius: 20px;
  width: 100%;
}
.services article .name {
  color: #001650;
  font-family: "Inter", sans-serif;
  font-size: 1.2em;
  margin: 0.5em 0 0 0;
  text-transform: uppercase;
}
.services .button {
  margin-bottom: 0;
}

.villas {
  background: #ededed;
  border-radius: 30px;
  margin: 1em;
}
.villas article a {
  background: white;
  border-radius: 30px;
  margin: 1em 0;
  padding: 1em;
  text-decoration: none;
  display: block;
}
.villas article .img {
  border-radius: 20px;
  width: 100%;
}
.villas article .icon {
  width: 30px;
  height: auto;
}
.villas article .name {
  color: #001650;
  font-family: "Old Standard TT", serif;
  font-size: 1.7em;
  margin: 0.5em 0 0 0;
  text-transform: uppercase;
  font-weight: bold;
}
.villas article .price {
  color: #539dfe;
  font-weight: bold;
}
.villas article .text {
  color: #1e2631;
}
.villas article .list {
  align-items: center;
  color: #1e2631;
  display: flex;
  font-size: 12px;
  gap: 10px;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}
.villas .button {
  margin-bottom: 0;
}

.yachts {
  border-radius: 30px;
  margin: 1em;
}
.yachts article a {
  border-radius: 30px;
  border: 1px solid rgba(30, 38, 49, 0.2);
  margin: 1em 0;
  padding: 1em;
  text-decoration: none;
  display: block;
}
.yachts article .img {
  border-radius: 20px;
  width: 100%;
}
.yachts article .icon {
  width: 30px;
  height: auto;
}
.yachts article .name {
  color: #001650;
  font-family: "Old Standard TT", serif;
  font-size: 1.7em;
  margin: 0.5em 0 0 0;
  text-transform: uppercase;
  font-weight: bold;
}
.yachts article .list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 1em 0 0 0;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  color: #1e2631;
  flex-wrap: wrap;
}
.yachts article .list li {
  flex-basis: 45%;
  flex-grow: 1;
}
.yachts article .list span {
  color: #539dfe;
  font-weight: bold;
}
.yachts .button {
  margin-bottom: 0;
}

.guide {
  background: #001650;
  border-radius: 30px;
  margin: 1em;
  text-align: center;
  padding-bottom: 8em;
}
.guide article a {
  border-radius: 30px;
  text-decoration: none;
  display: block;
  margin: 1.5em 0 0 0;
}
.guide article .img {
  border-radius: 20px;
  width: 100%;
}
.guide article .name {
  color: white;
  font-family: "Old Standard TT", serif;
  font-size: 1.2em;
  margin: 0.5em 0 0 0;
  text-transform: uppercase;
}
.guide .title {
  color: white !important;
}
.guide .description {
  color: #539dfe;
}
.guide .button {
  margin-bottom: 0;
}

.about {
  margin-top: -5em;
  position: relative;
  z-index: 1;
  padding-top: 0;
}
.about .bg {
  background: white;
  border-radius: 30px;
  padding: 3em;
}
.about article .img {
  border-radius: 20px;
  width: 100%;
}
.about article .name {
  color: white;
  font-family: "Old Standard TT", serif;
  font-size: 1.5em;
  margin: 0.5em 0 0 0;
  text-transform: uppercase;
}
.about .head {
  text-align: left;
}
.about .description {
  color: #539dfe !important;
}
.about .button {
  margin-bottom: 0;
}
.about blockquote {
  font-style: italic;
}

.testimonial .bg {
  background: rgba(83, 157, 254, 0.2);
  padding: 2em;
  border-radius: 30px;
  margin-top: 1em;
}
.testimonial .bg .name {
  color: white;
  font-family: "Old Standard TT", serif;
  font-size: 1.5em;
  margin: 0.5em 0 0 0;
  text-transform: uppercase;
}
.testimonial .bg .extra {
  font-size: 0.8em;
}
.testimonial .name {
  color: #539dfe !important;
}
.testimonial blockquote {
  font-style: italic;
}

.head {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1em;
}
.head .title {
  color: #001650;
  font-size: 2.7em;
  margin: 0;
}
.head .description {
  margin: 0;
}

.single-villa .carousel .carousel-inner {
  border-radius: 30px;
  margin-bottom: 3em;
}
.single-villa .map {
  border-radius: 30px;
  overflow: hidden;
}
.single-villa .content {
  margin-bottom: 2em;
}
.single-villa .list {
  align-items: center;
  background: rgba(83, 157, 254, 0.2);
  border-radius: 30px;
  color: #1e2631;
  display: flex;
  font-size: 12px;
  gap: 10px;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 2em;
}
.single-villa .table-title {
  font-family: "Old Standard TT", serif;
  font-size: 1.5em;
  font-weight: 500;
  margin: 1em 0;
}
.single-villa .form {
  text-align: left !important;
  font-size: 0.9em !important;
}
.single-villa .form-label {
  font-weight: bold;
}
.single-villa .form .button {
  margin: 0 !important;
  display: block !important;
  width: 100%;
}

.guide-img {
  border-radius: 30px;
  margin: 2em 0;
}

.button {
  background-color: #001650;
  border-radius: 200px;
  color: #f7f7f7;
  display: inline-block;
  margin: 2em 0;
  padding: 0.7em 2.5em;
  text-align: center;
  text-decoration: none;
  border: none;
}
.button:hover {
  background-color: #539dfe;
}
.button.button-white {
  color: #001650;
  background-color: white;
}
.button.button-white:hover {
  background-color: #539dfe;
}

/*
.input {
    padding: .5em 1em;
    border: 0;
    &-search {
        border-radius: 50px;
        border: 1px solid rgba($color-dark, .1);
    }
}*/

/*# sourceMappingURL=main.css.map */
